@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@font-face {
  font-family: "mainFont";
  src: url("./assets/fonts/font1.woff2") format("woff2");
}

@font-face {
  font-family: "secondaryFont";
  src: url("./assets/fonts/font2.woff") format("woff");
}